@mixin myFlex() {
    $prefixes: (-webkit-bot, ms-flexbox, -webkit-flex, flex);
    @each $prefix in $prefixes {
        display: $prefix;
    }
}
@mixin siteBackground() {
    $prefixes: (-webkit-background-size, cover,-moz-background-size, cover,-o-background-size,cover);
    @each $prefix in $prefixes {
        display: $prefix;
    }
}
