body, html {
    height: 100%;
}
.homepage_content_wrapper {
    justify-content: center;
    align-items: center;
    background: linear-gradient(92deg, rgba(47, 26, 73, 1) 5%, rgba(121, 0, 114, 1) 100%);
    min-height: 100vh;

    div {
        justify-content: center;
    }

    &0 {
        color: $c-white;
        margin: 0;
        font-size: 40px;
        text-shadow: $c-white 0.05em 0.05em 0.4em;
        font-weight: 300;
        font-family: $f-FredokaOne;
    }
    &1 {
        @include myFlex();
        color: $c-white;
        margin: 0 0 30px 0;
        font-weight: 300;
        font-family: $f-FredokaOne;
    }
    &2 {
        @include myFlex();
        color: $c-white;
        margin: 0 0 60px 0;
        background: radial-gradient(circle, rgba(124, 13, 117, 0.3169642857142857) 0%, rgba(47, 26, 73, 0) 65%);
    }

    &3 {
        @include myFlex();
    }
}
