.main-quiz-result-wrapper {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    color: $c-white;

    .header__icon {
        text-shadow: $c-white 0.1em 0.1em 0.4em;
        font-size: 40px;
        font-weight: 700;
        font-family: $f-FredokaOne;
    }

    .main-quiz-result-content-wrapper {
        margin: 0 auto;
        justify-content: center;
        display: flex;
    }

    .quiz-result-summary {
        width: 600px;
        .summary__heading {
            font-size: 38px;
            text-align: center;
            margin: 0 0 50px 0;
            font-weight: 700;
            font-family: $f-FredokaOne;
        }

        .summary__categoryIcon {
            text-align: center;
            img {
                height: 70px;
                width: 70px;
            }
        }
        .summary__decorationLine {
            width: 100px;
            height: 2px;
            margin: 0 auto;
            margin-top: $space-standar;
        }
        .summary__categoryText {
            font-size: 16px;
            text-shadow: none;
            text-align: center;
            margin: 5px 0 30px 0;
        }
        .summary-score {
            @include myFlex();
            margin: 0 250px 0 0;
            justify-content: center;

            &__scoreText {
                width: 300px;
                height: 40px;
                text-align: end;
                padding: 0 50px 0 0;
                margin: 25px 0 0;
                color: $c-white;
                position: relative;
                left: 25px;
                z-index: 0;
                font-size: 20px;
                text-shadow: none;

                span {
                    margin: $space-x-small 0 0 0;
                    display: block;
                }
            }
            &__scoreNumber {
                background-size: cover;
                width: 150px;
                height: 100px;
                color: $c-white;
                border-radius: 50px;
                border: 1px solid white;
                box-shadow: 0 0 0.5em rgb(219, 213, 219);
                text-shadow: $c-white 0.1em 0.1em 0.4em;
                font-size: 32px;
                z-index: 1;
                div {
                    margin: 30px 0 0 $space-small;
                }
            }
        }
        .summary-tryAgain {
            background-size: cover;
            height: 80px;
            width: 300px;
            @include myFlex();
            font-size: 16px;
            border-radius: 15px;
            margin: 0 auto;
            margin-top: 60px;

            img {
                width: 60px;
                height: 60px;
            }
            &__btnText {
                margin: 32px 0 0 50px;
                text-shadow: none;
            }
            &__btnIcon {
                margin: $space-x-small 0 0 30px;
            }
            &:hover {
                transition: 0.2s all;
                transform: scale(1.05);
            }
        }
    }
    .quiz-result-categoryList {
        width: 150px;
        .categoryList__heading {
            text-align: end;
        }
        .categoryList-GoTo {
            display: flex;
            margin: $space-large 0 $space-standar 0;
            div:nth-child(1) {
                margin: 0 $space-standar 0 60px;
            }
            img {
                width: 30px;
                height: 30px;
            }
        }
        .categoryList-quizList {
            &__QuizBtn {
                height: 130px;
                width: 140px;
                border-radius: $space-x-small;
                margin: $space-x-small 5px 5px 5px;
                font-size: 12px;

                img {
                    width: 40px;
                    height: 40px;
                }
                &--decorationLine {
                    height: 2px;
                    width: 110px;
                }
                div:nth-child(1) {
                    margin-top: 25px;
                }
                div:nth-child(2) {
                    margin-top: $space-standar;
                    margin-bottom: 5px;
                }
                div {
                    margin-left: $space-small;
                }
             
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .main-quiz-result-wrapper {
        .main-quiz-result-content-wrapper {
            display: block;
            margin: auto;
        }
        .quiz-result-summary {
            width: auto;

            .summary-score {
                margin: 0;

                &__scoreNumber {
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                }
                &__scoreText {
                    display: none;
                }
            }
            .summary-tryAgain {
                transform: scale(0.9);
            }
        }
        .quiz-result-categoryList {
            width: 100%;
            margin: auto;
            .categoryList-GoTo {
                position: relative;
                bottom: 520px;
                margin-left: 65%;
                div:nth-child(1) {
                    position: relative;
                }
                div:nth-child(2) {
                    position: relative;
                }
            }
            .categoryList__heading {
                text-align: center;
                margin-top: 0;
            }
            .categoryList-quizList {
                @include myFlex();
                margin: 0 auto;
                width: 425px;
                &__QuizBtn {
                    height: 100px;
                    width: 100px;
                    border-radius: 10px;
                    margin: $space-x-small $space-xxx-small 0 $space-xxx-small;
                    font-size: 10px;
                    img {
                        height: 40px;
                        width: 40px;
                    }
                    div {
                        margin-left: 5px;
                    }
                    div:nth-child(1) {
                        margin-top: $space-small;
                    }
                    div:nth-child(2) {
                        margin-top: 12px;
                    }
                    &--decorationLine {
                        width: 80px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $break-mobile-s) {
    .header__icon {
        display: none;
    }
    .quiz-result-summary__heading {
        padding-top: 30px;
    }

    .main-quiz-result-wrapper {
        .quiz-result-categoryList {
            .categoryList-quizList {
                @include myFlex();
                margin: 0 auto;
                width: 310px;
                &__QuizBtn {
                    height: 70px;
                    width: 70px;
                    border-radius: 10px;
                    margin: $space-x-small $space-xxx-small 0 $space-xxx-small;
                    font-size: 7px;
                    img {
                        height: 25px;
                        width: 25px;
                    }
                    div {
                        margin-left: $space-xxx-small;
                    }
                    div:nth-child(1) {
                        margin-top: $space-x-small;
                    }
                    div:nth-child(2) {
                        margin-top: $space-x-small;
                    }
                    &--decorationLine {
                        width: 60px;
                    }
                }
            }
            .categoryList-GoTo {
                div:nth-child(1) {
                    right: 280px;
                }
                div:nth-child(2) {
                    right: 20px;
                }
                &__actionBtn {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: $breaks-xs) {
    .main-quiz-result-wrapper {
        .quiz-result-categoryList {
            .categoryList-GoTo {
                div:nth-child(1) {
                    right: 260px;
                }
                div:nth-child(2) {
                    right: 35px;
                }
            }
        }
    }
}
@media only screen and (max-width: $break-xxs) {
    .main-quiz-result-wrapper {
        .quiz-result-categoryList {
            .categoryList-GoTo {
                div:nth-child(1) {
                    right: 245px;
                }
                div:nth-child(2) {
                    right: 35px;
                }
            }
        }
    }
}
