
// T E C H N O L O G Y
// ******** BEFORE QUIZ *********
.main-technology-background {
    background: url(../../../../assets/technology_background.png);
    background-size: cover;
    @include siteBackground();
}
.technology_selCategory {
    background: radial-gradient(circle, rgba (124, 13, 117, 0.3169642857142857) 0%, rgba(47, 26, 73, 0) 65%);
}
.technology-start-button-background {
    background: url(../../../../assets/technology_button-nonselect.png);
    background-size: cover;
    border: 1px solid rgb(150, 121, 189);
    &:hover {
        background: url(../../../../assets/test.png);
        background-size: cover;
        width: 270px;
        height: 80px;
    }
}
.technology-category__start {
    background: url(../../../../assets/button_strzałka_plus.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-technology-background-quiz {
    background: url(../../../../assets/technologia_background2.png);
    background-size: cover;
    @include siteBackground();
}
.technology-task {
    background: radial-gradient(circle, rgba(124, 13, 117, 0.3169642857142857) 0%, rgba(47, 26, 73, 0) 65%);
}
.technology__currentTask {
    background: url(../../../../assets/technology-pole-pytania.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.technology-chooseAnswer {
    background: url(../../../../assets/technology_button-nonselect.png);
    border: 2px solid rgb(118, 71, 156);
    background-size: cover;

    &:hover {
        background: url(../../../../assets/test.png);
        background-size: cover;
        transition: all 0.3s;
        cursor: pointer;
    }
    &:active {
        background: url(../../../../assets/test.png);
        background-size: cover;
        transition: all 0.3s;
     
    }
}
.answers-DropAnswer .technology-chooseAnswer {
    background: url(../../../../assets/test.png);
    background-size: cover;
}
.technology-DropAnswer {
    background-color: rgba(224, 221, 221, 0.171);
}
.answerTechnologyResultColor {
    img {
        background-color: rgb(56, 17, 82);
    }
}

// ************* RESULT ************

.technology-summary__decorationLine {
    background-color: rgb(161, 48, 161);
}
.technology-summary__scoreText {
    background: linear-gradient(
        90deg,
        rgba(158, 76, 175, 0.02644230769230771) 13%,
        rgba(162, 106, 213, 0.16405135520684733) 99%
    );
}
.technology-summary__scoreNumber {
    background: url(../../../../assets/technology-pole-pytania.png);
}
.technology-summary-tryAgain {
    background: url(../../../../assets/test.png) center no-repeat;
    box-shadow: 0 0 0.3em rgb(245, 156, 245);
    border: 1px solid#9933ff88;
}
.technology-quizList_QuizBtn {
    background: url(../../../../assets/technology_kategoria-button-test.png) center no-repeat;
    border: 2px solid#9933ff88;
    background-size: cover;
    &:hover {
        background: url(../../../../assets/button_programowanie_02_select.png) center no-repeat;
        transition: all 0.3s;
    }
}


// C U L T U R E
// ******** BEFORE QUIZ *********
.main-culture-background {
    background: url(../../../../assets/kultura_backgroundStart.png);
    background-size: cover;
    background-position: center;
    @include siteBackground();
}
.culture-start-button-background {
    background: url(../../../../assets/culture_button.png);
    background-size: cover;
    border: 1px solid rgb(56, 55, 56);
    &:hover {
        background: rgb(58, 57, 57,0.5);
        background-size: cover;
        width: 270px;
        height: 80px;
    }
}
.culture-category__start {
    background: url(../../../../assets/culture_button-strzalka.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-culture-background1-quiz {
    background: url(../../../../assets/culture_background.png);
    background-size: cover;
    @include siteBackground();
}
.main-culture-background2-quiz {
    background: url(../../../../assets/culture_background2.png);
    background-size: cover;
    @include siteBackground();
}

.culture-task {
    background: linear-gradient(90deg, rgba(196,196,196,0) 14%, rgba(43,43,41,0.1516981792717087) 50%, rgba(196,196,196,0) 86%);
}
.culture__currentTask {
    background: url(../../../../assets/culture_pole-pytania.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color:rgb(24, 21, 21);
        text-shadow: 0 0 3px rgb(44, 41, 44), 0 0 5px rgb(156, 154, 156);
        font-size: 24px;   
    }
}
.culture-chooseAnswer {
    background: url(../../../../assets/culture_button.png);
    border: 2px solid rgb(95, 93, 95);
    background-size: cover;

    &:hover {
        background: rgb(58, 57, 57,0.8);
        background-size: cover;
        transition: all 0.3s;
        cursor: pointer;
    }
    &:active {
        background: rgb(58, 57, 57,0.8);
        background-size: cover;
        transition: all 0.3s;
     
    }
}
.culture-DropAnswer .programming-chooseAnswer {
    background: url(../../../../assets/button_programowanie_02_select.png);
    background-size: cover;
}
.culture-DropAnswer {
    background-color: rgba(148, 147, 140, 0.377);
}
.answerCultureResultColor {
    img {
        background-color: rgba(46, 45, 46, 0.315);
    }
}

// ************* RESULT ************

.culture-summary__decorationLine {
    background-color: rgb(65, 64, 64);
}
.culture-summary__scoreText {
    background: linear-gradient(
        90deg,
        rgba(100, 98, 73, 0.247) 13%,
        rgba(39, 38, 33, 0.26) 99%
    );
}
.culture-summary__scoreNumber {
    background: url(../../../../assets/culture_pole-pytania.png);
}
.culture-summary-tryAgain {
    background: url(../../../../assets/culture_button.png) center no-repeat;
    box-shadow: 0 0 0.5em rgb(95, 94, 95);
    border: 1px solid rgb(90, 88, 89);
   
}
.culture-quizList_QuizBtn {
    background: url(../../../../assets/culture_kategoria-button.png) center no-repeat;
    border: 2px solid rgb(61, 60, 61);
    background-size: cover;
    &:hover {
        background: rgb(58, 57, 57,0.5);
        background-size: cover;
        transition: all 0.3s;
    }
}


// A U T O M O T I V E
// ******** BEFORE QUIZ *********
.main-automotive-background {
    background: url(../../../../assets/automotive_background.png);
    background-size: cover;
    @include siteBackground();
}
.automotive-start-button-background {
    background: url(../../../../assets/automotive_button.png);
    background-size: cover;
    border: 1px solid rgb(156, 144, 172);
    &:hover {
        background: url(../../../../assets/automotive_button-select.png);
        background-size: cover;
        width: 270px;
        height: 80px;
    }
}
.automotive-category__start {
    background: url(../../../../assets/motoryzacja-start.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-automotive-background1-quiz {
    background: url(../../../../assets/motoryzacja_background3.png);
    background-size: cover;
    @include siteBackground();
}
.main-automotive-background2-quiz {
    background: url(../../../../assets/motoryzacja_background2.png);
    background-size: cover;
    @include siteBackground();
}

.automotive-task {
    background: linear-gradient(90deg, rgba(103,107,128,0) 9%, rgba(45,81,235,0.9023984593837535) 50%, rgba(103,107,128,0) 91%);
}
.automotive__currentTask {
    background: url(../../../../assets/automotive_pole-pytania.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color:plum;
        text-shadow: 0 0 3px rgb(202, 2, 202), 0 0 5px plum;
        font-size: 24px;     
    }
}
.automotive-chooseAnswer {
    background: url(../../../../assets/automotive_button.png);
    border: 2px solid rgba(71, 132, 247, 0.692);
    background-size: cover;

    &:hover {
        background: url(../../../../assets/automotive_button-select.png);
        background-size: cover;
        transition: all 0.3s;
        cursor: pointer;
    }
    &:active {
        background: url(../../../../assets/automotive_button-select.png);
        background-size: cover;
        transition: all 0.3s;
     
    }
}
.answers-DropAnswer .automotive-chooseAnswer {
    background: url(../../../../assets/automotive_button-select.png);
    background-size: cover;
}
.automotive-DropAnswer {
    background-color: rgba(101, 112, 163, 0.363);
}
.answerAutomotiveResultColor {
    img {
        background-color: rgba(39, 28, 190, 0.315);
    }
}

// ************* RESULT ************

.automotive-summary__decorationLine {
    background-color: rgb(111, 113, 231);
}
.automotive-summary__scoreText {
    background: linear-gradient(
        90deg,
        rgba(39, 25, 168, 0.247) 13%,
        rgba(41, 12, 109, 0.26) 99%
    );
}
.automotive-summary__scoreNumber {
    background: url(../../../../assets/automotive_pole-pytania.png);
}
.automotive-summary-tryAgain {
    background: url(../../../../assets/automotive_button.png) center no-repeat;
    box-shadow: 0 0 0.3em rgb(78, 78, 78);
    border: 1px solid rgba(71, 132, 247, 0.692);
   
}
.automotive-quizList_QuizBtn {
    background: url(../../../../assets/automotive_kategoria-button.png) center no-repeat;
    border: 2px solid rgba(71, 132, 247, 0.692);
    background-size: cover;
    &:hover {
        background: url(../../../../assets/automotive_kategoria-button-select.png) center no-repeat;
        background-size: cover;
        transition: all 0.3s;
    }
}
// P R O G R A M O W A N I E 
// ******** BEFORE QUIZ *********
.main-programming-background {
    background: url(../../../../assets/programowanie_background.png);
    background-size: cover;
    background-position: center;
    @include siteBackground();
}
.programming-start-button-background {
    background: url(../../../../assets/button_programowanie_01.png);
    background-size: cover;
    border: 1px solid plum;
    &:hover {
        background: url(../../../../assets/button_programowanie_02_select.png);
        background-size: cover;
        width: 270px;
        height: 80px;
    }
}
.programming-category__start {
    background: url(../../../../assets/button_strzałka_plus.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-programming-background1-quiz {
    background: url(../../../../assets/programowanie_background3.png);
    background-size: cover;
    @include siteBackground();
}
.main-programming-background2-quiz {
    background: url(../../../../assets/programowanie_background2.png);
    background-size: cover;
    @include siteBackground();
}

.programming-task {
    background: linear-gradient(90deg, rgba(153,90,149,0) 14%, rgba(140,45,235,0.1516981792717087) 50%, rgba(153,90,149,0) 86%);
}
.programming__currentTask {
    background: url(../../../../assets/programowanie_pole_pytania_.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color:plum;
        text-shadow: 0 0 3px rgb(202, 2, 202), 0 0 5px plum;
        font-size: 24px;   
    }
}
.programming-chooseAnswer {
    background: url(../../../../assets/button_programowanie_01.png);
    border: 2px solid rgb(156, 106, 156);
    background-size: cover;

    &:hover {
        background: url(../../../../assets/button_programowanie_02_select.png);
        background-size: cover;
        transition: all 0.3s;
        cursor: pointer;
    }
    &:active {
        background: url(../../../../assets/button_programowanie_02_select.png);
        background-size: cover;
        transition: all 0.3s;
     
    }
}
.programming-DropAnswer .programming-chooseAnswer {
    background: url(../../../../assets/button_programowanie_02_select.png);
    background-size: cover;
}
.programming-DropAnswer {
    background-color: rgba(101, 112, 163, 0.363);
}
.answerProgrammingResultColor {
    img {
        background-color: rgba(228, 27, 144, 0.315);
    }
}

// ************* RESULT ************

.programming-summary__decorationLine {
    background-color:rgb(161, 43, 122);
}
.programming-summary__scoreText {
    background: linear-gradient(
        90deg,
        rgba(172, 31, 141, 0.247) 13%,
        rgba(78, 12, 133, 0.26) 99%
    );
}
.programming-summary__scoreNumber {
    background: url(../../../../assets/programowanie_pole_pytania_.png);
}
.programming-summary-tryAgain {
    background: url(../../../../assets/button_programowanie_01.png) center no-repeat;
    box-shadow: 0 0 0.5em rgb(161, 43, 122);
    border: 1px solid rgb(161, 43, 122);
   
}
.programming-quizList_QuizBtn {
    background: url(../../../../assets/kategoria_button_programowanie.png) center no-repeat;
    border: 2px solid rgb(161, 43, 122);
    background-size: cover;
    &:hover {
        background: url(../../../../assets/automotive_kategoria-button-select.png) center no-repeat;
        background-size: cover;
        transition: all 0.3s;
    }
}
// H I S T O R I A
// ******** BEFORE QUIZ *********
.main-history-background {
    background: url(../../../../assets/historia_background.png);
    background-size: cover;
    background-position: center;
    @include siteBackground();
}
.history-start-button-background {
    background: url(../../../../assets/historia-button.png);
    background-size: cover;
    border: 1px solid rgb(56, 55, 56);
    &:hover {
        background: url(../../../../assets/historia-button-select.png);
        background-size: cover;
        width: 270px;
        height: 80px;
    }
}
.history-category__start {
    background: url(../../../../assets/historia-start-button.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-history-background1-quiz {
    background: url(../../../../assets/historia_backgroundSEL.png);
    background-size: cover;
    @include siteBackground();
}
.main-history-background2-quiz {
    background: url(../../../../assets/historia_backgroundDND.png);
    background-size: cover;
    @include siteBackground();
}

.history-task {
    background: linear-gradient(90deg, rgba(191,184,165,0) 14%, rgba(154,156,97,0.1516981792717087) 50%, rgba(191,184,165,0) 86%);
}
.history__currentTask {
    background: url(../../../../assets/historia-pole-pytania.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color:rgb(24, 21, 21);
        text-shadow: 0 0 3px rgb(44, 41, 44), 0 0 5px rgb(156, 154, 156);
        font-size: 24px;   
    }
}
.history-chooseAnswer {
    background: url(../../../../assets/historia-button.png);
    border: 2px solid rgb(95, 93, 95);
    background-size: cover;

    &:hover {
        background: url(../../../../assets/historia-button-select.png);
        background-size: cover;
        transition: all 0.3s;
        cursor: pointer;
    }
    &:active {
        background: url(../../../../assets/historia-button-select.png);
        background-size: cover;
        transition: all 0.3s;
     
    }
}
.history-DropAnswer .programming-chooseAnswer {
    background: url(../../../../assets/button_programowanie_02_select.png);
    background-size: cover;
}
.history-DropAnswer {
    background-color: rgba(172, 171, 153, 0.377);
}
.answerHistoryResultColor {
    img {
        background-color: rgba(46, 45, 46, 0.315);
    }
}

// ************* RESULT ************

.history-summary__decorationLine {
    background-color: rgb(65, 64, 64);
}
.history-summary__scoreText {
    background: linear-gradient(
        90deg,
        rgba(100, 98, 73, 0.247) 13%,
        rgba(39, 38, 33, 0.26) 99%
    );
}
.history-summary__scoreNumber {
    background: url(../../../../assets/historia-pole-pytania.png);
}
.history-summary-tryAgain {
    background: url(../../../../assets/historia-button.png) center no-repeat;
    box-shadow: 0 0 0.5em rgb(95, 94, 95);
    border: 1px solid rgb(90, 88, 89);
   
}
.history-quizList_QuizBtn {
    background: url(../../../../assets/historia-kategoria-button.png) center no-repeat;
    border: 2px solid rgb(61, 60, 61);
    background-size: cover;
    &:hover {
        background: url(../../../../assets/historia-kategoria-button-select.png) center no-repeat;
        background-size: cover;
        transition: all 0.3s;
    }
}