.main-quizList-wrapper {
    @include myFlex();
    flex-wrap: wrap;
}
.quiz-button_wrapper {
    background: url(../../../../assets/button_programowanie_01.png) center no-repeat;
    width: 65px;
    height: 150px;
    min-width: 175px;
    color: white;
    border-radius: 10px;
    margin: 0 5px 5px 5px;
    border: 2px solid#9933ff;

    &_line {
        background: purple;
        height: 5px;
        width: 140px;
    }
    div:nth-child(1) {
        margin-top: 25px;
    }
    div:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    div {
        margin-left: 10px;
    }
    &:hover {
        background: url(../../../../assets/button_programowanie_02_select.png) center no-repeat;
        transition: all 0.3s;
    }
    img {
        height: 50px;
        width: 50px;
    }
}
