.selected-category-wrapper__category {
    text-align: center;
  
    p {
        color: $c-white;
        font-size: 16px;
    }
    .category__icon {
        text-align: center;
        img {
            width: 70px;
            height: 70px;
        }
    }

    .category__line {
        margin: 15px auto 7px auto;
        width: 134px;
        height: 3px;
    }
    .category__text {
        color: $c-white;
        margin: 0 0 50px 0;
    }
   .category__btn {
        @include myFlex();
       width: 280px;
       height: 75px;
        border-radius: 12px;
        margin: 0 auto;
        div {
            margin: 0 auto;
        }
        .category__start {
        margin-top: 5px;
        width: 70px;
        height: 70px;
        }
        p {
            margin: 30px 0 0 10px;
        }
        &:hover {
            transition: all 0.5s ease;
        }
    }
}
