.selected-category-wrapper {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    div {
        justify-content: center;
    }
    .header_btn {
        position: relative;
        left: 20%;
        margin: $space-x-small 0 0 0;
        img {
            height: 20px;
            width: 20px;
            margin: 0 $space-x-small 0 0;
        }
    }

    &__icon {
        color: $c-white;
        font-size: 40px;
        text-shadow: $c-white 0.05em 0.05em 0.4em;
        font-weight: 300;
        font-family: $f-FredokaOne;
    }
    &-header {
        @include myFlex();
        color: $c-white;
        margin: 0 0 30px 60px;
        font-weight: 300;
        bottom: 5px;
        font-family: $f-FredokaOne;
    }
    &__selCategory {
        @include myFlex();
        color: $c-white;
        margin: 0 0 60px 0;
    }

    &__category {
        @include myFlex();
    }
}
