.main-quiz-wrapper {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: $c-white;
    div {
        justify-content: center;
    }
    .header__btn {
        position: relative;
        left: 20%;
        margin: $space-x-small 0 0 0;
        img {
            height: 20px;
            width: 20px;
            margin: 0 $space-x-small 0 0;
        }
    }

    &__icon {
        text-shadow: $c-white 0.1em 0.1em 0.4em;
        font-size: 40px;
        font-weight: 700;
        font-family: $f-FredokaOne;
    }
    &-header {
        @include myFlex();
        margin: 0 0 30px 60px;
        font-family: $f-FredokaOne;
    }
    &-task {
        @include myFlex();
        margin: 0 0 60px 0;
        font-size: 24px;
        font-weight: 200;
        div {
            padding-top: $space-standar;
        }
        div:nth-child(1) {
            margin-left: 20%;
        }

        .task__currentTask {
            width: 70px;
            height: 50px;
            margin-left: 15%;
            border:1px solid white;
            border-radius: 50px;
            box-shadow: 0 0 0.5em white;
            text-shadow: 0 0 3px white, 0 0 5px white;
        }
    }
    &__question {
        @include myFlex();
        font-size: 20px;
        margin: $space-x-small;
        div {
            display: none;
        }
    }
    &-answers {
        display: block;
        margin: 50px;
    }
    .answers-wrapper {
        @include myFlex();
        flex-wrap: wrap;
    }

    .answers-chooseAnswer {
        margin: $space-standar;
        width: 320px;
        height: 100px;
        border-radius: 20px;
        display: flex;
        justify-content: start;

        img {
            height: 75px;
            width: 75px;
        }

        &__answerText {
            margin: 25px 0 0 30px;
            font-size: 20px;
            width: 200px;
        }
        .answerResultHide {
            display: none;
        }

        .answerResultShow {
            margin: 25px 25px 0 0;
            img {
                height: 50px;
                width: 50px;
                box-shadow: 0 0 1em rgb(219, 213, 219);
                border-radius: 40px;
            }
        }
    }
}

.answers-DropAnswer-box {
    width: 340px;
    min-height: 100px;
    max-height: 140px;
    margin: 0 auto;
    @include myFlex();
    border-radius: 20px;
    z-index: 1;
    position: relative;
    span {
        top: 20px;
        left: 25%;
        position: absolute;
        z-index: -1;
    }
    .DropAnswer-box__icons {
        position: absolute;
        width: 240px;
        height: 60px;
        min-height: 60px;
        top: 50px;
        @include myFlex();
        .DropAnswer-box__iconsList {
            @include myFlex();
            z-index: -1;
        }
        img {
            height: 30px;
            width: 30px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-quiz-wrapper-task {
        div:nth-child(1) {
            margin-left: $space-x-small;
        }
    }
}
@media only screen and (max-width: 520px) {
    .main-quiz-wrapper-task {
        div:nth-child(1) {
            margin-left: $space-x-small;
            width: 250px;
        }
        .task__currentTask {
            margin-left: 0px;
            transform: scale(0.7);
        }
    }
}

@media only screen and (max-width: $break-mobile-s) {
    .main-quiz-wrapper {
        .main-quiz-wrapper__icon > span {
            display: none;
        }
        &-header {
            div:nth-child(2) {
                left: -200px;
            }
            div:nth-child(3) {
                left: 15%;
            }
            .main-quiz-wrapper-header div:nth-child(3) {
                left: 15%;
            }
            .header__btn {
                top: 20px;
            }
        }
        &__question {
            font-size: 18px;
            margin-left: $space-standar;
            width: 350px;
            position: relative;

            div {
                display: block;
                position: relative;
                margin: 0 $space-standar 0 0;
                font-size: 30px;
                text-shadow: $c-white 0.05em 0.05em 0.4em;
                font-weight: 300;
                justify-content: left;
                bottom: 5px;
                font-family: $f-FredokaOne;
            }
        }
        &-task_ .answers-DropAnswer {
            position: relative;
            justify-content: start;
            left: 35px;
            width: 300px;
            font-size: 16px;
        }

        .answers-DropAnswer-box {
            width: 220px;
            margin: $space-x-small;
            justify-content: center;
            span {
                left: 10%;
            }
        }
        .DropAnswer-box__icons {
            img {
                width: 20px;
                height: 20px;
            }
        }
        .answers-wrapper {
            position: relative;
            right: 80px;
            margin-left: 50px;
            .answerResultShow {
                position: relative;
                left: 100px;
            }
        }
        .answers-chooseAnswer {
            width: 200px;
            margin: $space-x-small 0 $space-x-small 0;
            justify-content: normal;
            &__answerText {
                font-size: 16px;
            }
        }
        .main-quiz-wrapper-task {
            margin-bottom: 30px;
        }
    }

    .main-quiz-wrapper-task div:nth-child(1) {
        font-size: 18px;
    }

    .main-quiz-wrapper .main-quiz-wrapper__question {
        justify-content: left;
    }
    .min-quiz_wrapper-header {
        margin-bottom: $space-x-small;
    }
}

@media only screen and (max-width: $breaks-xs) {
    .main-quiz-wrapper {
        &__question {
            margin-left: $space-x-small;
            width: 320px;
        }
        &-task div:nth-child(1) {
            font-size: 16px;
            width: 200px;
            margin-left: $space-x-small;
        }
        .answers-wrapper {
            right: 60px;
        }
    }
    .answers-DropAnswer-box {
        right: 10px;
    }
}
@media only screen and (max-width: $break-xxs) {
    .main-quiz-wrapper {
        &__question {
            margin-left: $space-xxx-small;
            width: 300px;
        }
        &-task div:nth-child(1) {
            margin-left: 30px;
            font-size: 18px;
            width: 200px;
        }
        .answers-DropAnswer {
            left: 20px;
            width: 260px;
        }
        &-header {
            div:nth-child(2) {
                left: -180px;
            }
        }
        .main-quiz-wrapper-answers {
            right: 0;
            margin-left: 0;
        }
        .answers-wrapper {
            right: 20px;
        }
    }
    .answers-DropAnswer-box {
        left: 30px;
    }
}
